<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Mystic Biscuit GUI</title>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>
        Mystic Biscuit GUI
    </h1>
    <form id="auto-form">
        <label for="alliance">Alliance:</label>
        <select id="alliance" name="alliance" value="red">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
        </select>
        <br>
        <label for="position">Position:</label>
        <select id="position" name="position" value="left">
            <option value="left">Left</option>
            <option value="center">Center</option>
            <option value="right">Right</option>
        </select>
        <br>
        <label for="mode">Mode</label>
        <select id="mode" name="mode" value="auto">
            <option value="auto">Auto</option>
        </select>
        <br>
        <button type="button" onclick="submitForm('auto-form')">Return</button>
    </form>
</body>